<h1><span class="label label-primary">Welcome..</span></h1>
</br>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">1</span>
   Log in!
  </li>
<br>
<li class="list-group-item">
    <span class="badge">2</span>
   Upload your PDF!
  </li>
<br>
<li class="list-group-item">
    <span class="badge">3</span>
   Enjoy..
  </li>
<br>
</ul>

